<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    {{!-- <script src="js/script.js"></script> --}}
    <title>Weather</title>
  </head>

  <body>

<div class="main-content">
    {{>header}}
    <p>Use this to style the weather app</p>

    <form action="">
      <input type="text" placeholder="location" class="hello">
      <button>Address</button>

      <p id="message-1"></p>
      <p id="message-2"></p>
    </form>
    
    </div>

  

    

   




     {{>footer}}


      <script src="js/script.js"></script>

  </body>
</html>